body {
    margin: 0;
    padding: 0;
}
.flexContenedorTallerCinco {
    display: flex;
}

.divSuperior {
    
    height: 25%;

}

.divInferior{
    
    height: 75%;
    

}

.divIzquierdoInferior {
    width: 25%;
}

.divCentroInferior {
    width: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
}

.divDerechoInferior {
    width: 25%;
    background-color: midnightblue;
}

